.cr-header {
    background-image: url("./assets/navigation-bg.jpg");
    height: 240px;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: scale-down;
}

.cr-logo {
    width: 280px;
}

.futu-logo {
    width: 340px;
    margin-left:20px;
}
